* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Main Navigation Styles */
:root {
  /* --nav-bg: #7a9e7e; */
  --nav-bg: #001a23;
  --logo-clr: white;
  --anim-speed: 0.3s;
}

.nav {
  background: var(--nav-bg);
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  padding: 1rem 0.5rem 1rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 990;
}

.nav__logo {
  text-decoration: none;
  color: var(--logo-clr);
}

.nav__logo:hover {
  color: var(--logo-clr);
}

.nav__logo:focus {
  border: 1px solid #7a9e7e;
}

.nav__link a {
  color: white;
  text-decoration: none;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__list {
  list-style: none;
  height: 0;
  -webkit-transition: 250ms height ease-in-out;
  transition: 250ms height ease-in-out;
  overflow: hidden;
}

.active {
  height: 300px;
  -webkit-transition: height 0.4s linear;
  transition: height 0.4s linear;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.nav__link {
  margin-top: 50px;
  cursor: pointer;
  color: white;
  position: relative;
}

.nav a:hover,
.nav a:focus {
  outline: none;
  text-decoration: none;
}

/* nav link hover */
.nav__link a::before,
.nav__link a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
}

.nav__link a::before {
  margin-right: 10px;
  content: "<";
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.nav__link a::after {
  margin-left: 10px;
  content: "/>";
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.nav__link a:hover::before,
.nav__link a:hover::after,
.nav__link a:focus::before,
.nav__link a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/* Burger Menu Styles */
.hamburger {
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 0.5rem;
}

.hamburger:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.burger {
  position: relative;
  width: 30px;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  border-radius: 1px;
}

.burger::after,
.burger::before {
  position: absolute;
  content: "";
  width: 30px;
  border-radius: 1px;
  height: 3px;
  background: white;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, -0.47, 1, 1.45);
  transition: -webkit-transform 0.5s cubic-bezier(1, -0.47, 1, 1.45);
  transition: transform 0.5s cubic-bezier(1, -0.47, 1, 1.45);
  transition: transform 0.5s cubic-bezier(1, -0.47, 1, 1.45),
    -webkit-transform 0.5s cubic-bezier(1, -0.47, 1, 1.45);
  opacity: 1;
}

.burger::after {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.burger::before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

/* Open Burger styles */
.open .burger {
  -webkit-animation: hide 0.2s var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
    forwards;
  animation: hide 0.2s var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
    forwards;
}

.open .burger::after {
  -webkit-animation: pop var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
      forwards,
    flip var(--anim-speed) var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
      forwards;
  animation: pop var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45) forwards,
    flip var(--anim-speed) var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
      forwards;
}

.open .burger::before {
  -webkit-animation: popTwo var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
      forwards,
    flipTwo var(--anim-speed) var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
      forwards;
  animation: popTwo var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45) forwards,
    flipTwo var(--anim-speed) var(--anim-speed) cubic-bezier(1, -0.47, 1, 1.45)
      forwards;
}

/* Burger Keyframes */
@-webkit-keyframes pop {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes flip {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes popTwo {
  from {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes popTwo {
  from {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes flipTwo {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes flipTwo {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes hide {
  to {
    background: transparent;
  }
}

@keyframes hide {
  to {
    background: transparent;
  }
}

@media screen and (min-width: 900px) {
  /* Switch colourse for desktop */
  :root {
    --nav-bg: transparent;
    --logo-clr: black;
  }
  /* Style if scrolled for visibility */
  .scrolled {
    background: #001a23;
  }
  .scrolled .nav__logo {
    color: white;
  }
  /* Style nav for desktop view */
  .hamburger {
    display: none;
  }
  .nav__list {
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__link {
    margin: 0 5px;
  }
  .nav__logo {
    padding: 10px;
    margin-left: 10px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
  }
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  position: relative;
  max-width: 400px;
  display: inline-block;
}

.image {
  display: block;
  max-width: 400px;
}

.overlay {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: #eee;
  cursor: pointer;
}

.card:hover .overlay {
  opacity: 1;
}

.card:focus .overlay {
  opacity: 1;
}

.ico {
  margin: 20px;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}

.overlayBottom {
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.95);
}

.card:hover .overlayBottom {
  height: 100%;
}

.card:focus .overlayBottom {
  height: 100%;
}

button {
  outline: none;
  border: 0;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  background: transparent;
}

button:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-title {
  font-size: 3rem;
  margin: 20px;
}

.modal-desc {
  font-size: 1.2rem;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .modal-desc {
    width: 100%;
    font-size: 1rem;
  }
  .modal-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .card,
  .image {
    width: 100%;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  padding: 0.5rem 1rem;
  color: black;
  border: 1px solid black;
  opacity: 0.8;
  text-decoration: none;
  margin: 20px 10px;
}

.button:hover,
.button:focus {
  opacity: 1;
}

.techsUsed {
  font-size: 0.9rem;
  margin: 20px;
  color: gray;
}
/*# sourceMappingURL=main.css.map */
.name {
  position: absolute;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: calc(1vw + 5rem);
  z-index: 200;
}
.name:first-of-type {
  margin-left: 0.5em;
  left: 20vw;
}
.name:last-of-type {
  right: 20vw;
}
@media screen and (max-width: 900px) {
  .name {
    font-size: calc(1vw + 2rem);
  }
  .name:first-of-type {
    left: 1px;
  }
  .name:last-of-type {
    right: 1px;
  }
}
@media (max-width: 2000px) and (min-width: 1899px) {
  .name:first-of-type {
    left: 50px;
  }
  .name:last-of-type {
    right: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .name {
    font-size: calc(1vw + 2rem);
  }
  .name:first-of-type {
    left: 40px;
  }
  .name:last-of-type {
    right: 40px;
  }
}
@media screen and (max-width: 300px) {
  .name:first-of-type {
    left: 1px;
  }
  .name:last-of-type {
    right: 1px;
  }
}
.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: black;
}
