* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

@import "./navigation";

.landing-page {
  background: linear-gradient(to right, #e8f1f2 50%, #31493c 50%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .h-letter {
    max-height: 60vmax;
    position: relative;
  }
  .name {
    position: absolute;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: calc(1vw + 5rem);
    z-index: 200;
  }
  .name:first-of-type {
    margin-left: 0.5rem;
    left: 20vw;
  }
  .name:last-of-type {
    right: 20vw;
  }
  @media screen and (max-width: 900px) {
    .name {
      font-size: calc(1vw + 2rem);
    }
    .name:first-of-type {
      left: 1px;
    }
    .name:last-of-type {
      right: 1px;
    }
  }
}
.test {
  height: 100vh;
  background-color: burlywood;
}
